@import '../../scss/globals/variables';

.footer {
    background: $primaryColor;
    width: 100%;
    margin-top: em(40);
    &__wrapper {
        @include max-width-container;
        padding-top: em(20);
        padding-bottom: em(20);
    }
    .p {
        font-weight: 300;
    }
    &__section {
        &:first-child {
            display: flex;
            justify-content: space-between;
            @include media-breakpoint-down(sm) {
                display: block;
                text-align: center;
            }
        }
        &:nth-child(2) {
            max-width: 50%;
            margin-top: em(20);
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
            .p {
                &:last-child {
                    margin: em(35) 0;
                }
            }
        }
    }
}