* {
	color: $defaultFontColor;
	font-family: $primaryFont;
}

.h1 {
	font-weight: 300;
	font-size: em(40);
	color: $primaryColor;
	@include media-breakpoint-down(sm) {
		font-size: em(30);
	}
}

.h4 {
	font-size: em(26);
	margin: em(5) 0;
}

.h5 {
	font-size: em(24x);
	margin: em(5) 0;
}

.content {
	@include max-width-container;
}

.p {
	margin: 0;
	font-size: em(20);
	@media only screen and (max-width: 950px) {
		font-size: em(16);
	}
	&--white {
		color: #fff;
	}
}

.h3 {
	color: $primaryColor;
	font-size: em(30);
	margin: em(25) 0 em(15) 0;
	font-weight: 300;
}

.btn {
	font-weight: 300;
	font-size: em(40);
	color: #fff;
	background: #333;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	margin-top: 15px;
	transition: all 0.4s ease;
	@include media-breakpoint-down(sm) {
		font-size: em(25);
	}
	&__a {
		color: #fff;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	&--green {
		background: $green;
		&:hover {
			background: darken($green, 10%);
		}
	}
}

@mixin a-hover {
	text-decoration: none;
	color: $primaryColorDarker;
}

.a {
	color: $primaryColor;
	transition: all 0.4s ease;
	word-wrap: break-word;
	font-size: em(18);
	&:hover {
		@include a-hover;
	}
	&:focus {
		@include a-hover;
	}
	&--white {
		color: #fff;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
}

.ul {
	margin: 0;
	padding-left: em(20);
}

.li {
	padding-left: em(10);
	font-size: em(20);
	@media only screen and (max-width: 950px) {
		font-size: em(16);
	}
}
